spring:
  application:
    name: backend
  profiles:
    default: local

server:
  port: ${PORT:8080}

springdoc:
  swagger-ui:
    path: /swagger

jwt:
  secret: java-and-sumi-backend
  expiration: 86400000